#chatbot-btn {
    width: 100px;
    height: 40px;
    border: 3px solid #2596be;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1em;
    font-weight: 550;
    position: absolute;
    bottom: 100px;
    right: 30px;
}

#chatbot-btn:hover {
    background: #2596be;
    color: white;
    font-size: 1.1em;
}


#video-container {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30%;
    z-index: -1;
    height: 50%;
    background-color: #F0F5FF;
    justify-content: center;
    align-items: center;
}

#chatbot-video {
    width: 80%;
    max-height: 80%;
    border-radius: 10px;
}